<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quoth</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="app"></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
